h1 {
	color: #fff;
}

.link {
	text-decoration: none;
}
  h2 {
    width: 500px;
    padding: 10px;
    border: 10px solid #881234;
    background-color: #bbb;
    border-radius: 5px;
  }
    p {
      color: red;
    }

